<h1>show list</h1>

<h2><%= @list.name %></h2>
<p>bookmarks:</p>
<ul>
  <% @list.bookmarks.each do |bookmark| %>
    <li><%= link_to bookmark.comment %></li>
    <li><%= link_to "destroy", bookmark_path(bookmark), data: {turbo_method: :delete, turbo_confirm: 'Are u sure about that ?'}
       %></li>
  <% end %>
</ul>

<%= link_to "Nouveau bookmark", new_list_bookmark_path(@list) %>
<br>

<%= link_to "Page list index", lists_path %>
